.footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 10%);
}

.footer__list {
  width: 100%;
  max-width: 1040px;
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list a,
.footer__list a:visited {
  position: relative;
  padding: 2px 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.footer__list a::after {
  content: "";
  height: 1px;
  width: 0px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  background: #000000;
  opacity: 80%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 10%);
  transform: translateX(-50%);
  transition: width 200ms ease;
}

.footer__list a:hover::after {
  width: 100%;
}
