* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
}

* ::-webkit-scrollbar {
  display: none; /* Chromium */
}

@supports not selector(::-webkit-scrollbar) {
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.wrapper {
  width: 100%;
  min-height: calc(100vh - 360px);
  margin: 60px 0;
  padding: 120px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #66b49d, #34b5a6, #00adb5);
}
