/* От 1920 до 1025 сайт выглядит как при 1920.

От 1024 до 531 сайт выглядит как при 768.

от 530 до 320 сайт выглядит как при 320. */

/*
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*/

@media (max-width: 1200px) {
  .header,
  .footer {
    background-color: rgba(255, 0, 255, 0.5);
  }
}
